.containerbg{
    
    background-position:top;
    background-size: cover;
    

}
.containerabt{
    padding-bottom: 3%;
    
}
.imgs{
    float: right;
    margin-block: -15%;
    margin-right: 11%;
}
.abt{
margin-left: 10%;
font-size: 20px;
margin-top: 1%;
color: rgb(0, 0, 0);
}
.abtus{
    margin-left: 6%;
    font-size:30px;
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.team{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
.teamname{
    margin-top: 4px;
    margin-left: 6%;
    font-size:30px;
    font-weight: bolder;
}
img{
    margin-left: 25%;
}